<!--<!DOCTYPE html>-->
<!--<html  xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:replace="partials/partials.html :: head ('Coffees Index')">-->
<!--<body>-->
<!--<h1 style="text-align: center">All Coffees</h1>-->

<!--<h1>All Coffees</h1>-->
<!--<div th:if="${coffees}">-->
<!--    <ul>-->
<!--        <li th:each="coffee : ${coffees}">-->
<!--            <span th:text="${coffee.brand}"></span>-->
<!--            <span th:text="${coffee.roast}"></span>-->
<!--            <span th:text="${coffee.origin}"></span>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<footer th:replace="partials/partials.html :: footer"></footer>-->
<!--</body>-->
<!--</html>-->