<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('View One Posts')">
</head>
<nav th:replace="partials/partials.html :: navbar"></nav>

<h1>View a Post</h1>

<div th:if="${post}" class="card">
    <div class="card-body">
        <p th:text="${post.title}"></p>
        <p th:text="${post.body}"></p>
        <p th:text="${post.getUser().getEmail()}"></p>
        <div>
            <div th:each="tag : ${post.getTags()}">
                <p th:text="' &#8227; ' + ${tag.getName()}"></p>
            </div>
        </div>
        <div class="flex-container d-flex flex-wrap">
            <div th:each="image : ${post.postImages}" >
                <img th:src="${image.getUrl()}" class="">
                <form action="/posts/delete-img" method="POST">
                    <input type="hidden" th:value="${image.getId()}" name="id">
                    <button type="submit" class="btn btn-danger btn1">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<fieldset>-->
<!--    <legend>Edit Post</legend>-->
<!--    <form action="/posts/edit-post" method="POST" id="formId" th:data-id="${post.id}">-->
<!--        <label for="title" class="form-label">Title:</label>-->
<!--        <input type="text" id="title" name="title" th:value="${post.title}" class="form-control">-->
<!--        <label for="body" class="form-label">Body</label>-->
<!--        <input type="text" id="body" name="body" th:value="${post.body}" class="form-control">-->

<!--        <label for="tag" class="form-label">Change Tag(s):</label>-->
<!--        <select name="tag" id="tag" class="form-control" multiple>-->
<!--            <option value="1">Tech</option>-->
<!--            <option value="2">Games</option>-->
<!--            <option value="3">Lifestyle</option>-->
<!--            <option value="4" selected="selected">Etc.</option>-->
<!--            <option value="5">Music</option>-->
<!--            <option value="6">Pets</option>-->
<!--        </select>-->

<!--        <input type="hidden" th:value="${post.id}" name="id">-->
<!--        <input type="submit" value="Submit" class="btn-primary">-->
<!--    </form>-->
<!--</fieldset>-->

<!--form model binding refactor-->
<fieldset>
    <form th:action="@{/posts/edit-post}" th:method="POST" th:object="${post}">
        Title:
        <input th:field="*{title}">
        <br>
        Description:
        <input th:field="*{body}">
        <br>
        Tags:
        <select th:field="*{tags}" multiple>
            <option value="1">Tech</option>
            <option value="2">Games</option>
            <option value="3">Lifestyle</option>
            <option value="4">Etc.</option>
            <option value="5">Music</option>
            <option value="6">Pets</option>
        </select>
        <br>
<!--        <div th:each="image : *{postImages}">-->
<!--            <input type="text" th:field="*{postImages[__${imageStat.index}__].title}">-->
<!--        </div>-->
        <br>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{user.id}">
        <input type="submit">
    </form>
</fieldset>
<!--form model binding refactor-->

<fieldset>
    <legend>Add Image to Post</legend>
    <form action="/posts/add-image" method="POST">
        <label for="img-title" class="form-label">Image Title:</label>
        <input type="text" id="img-title" name="img-title" class="form-control">
        <label for="url" class="form-label">URL:</label>
        <input type="text" id="url" name="url" class="form-control">
        <input type="hidden" th:value="${post.getId()}" name="id">
        <input type="submit" value="Submit" class="btn-primary">
    </form>
</fieldset>

<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>