<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c1e7c5892.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<!--NAVBAR-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/posts/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/posts/index">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/1">View Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/sign-up">Sign Up</a>
                        </li>
<!--                        <li><hr class="dropdown-divider"></li>-->
                        <li>
                            <form th:action="@{/login}" th:method="post">
                                <button class="btn-link dropdown-item" style="margin-top: 8px">Login</button>
                            </form>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form th:action="@{/logout}" th:method="post">
                                <button class="btn-link dropdown-item" style="margin-top: 8px">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--NAVBAR-->

<!--HEADER-->
<div th:fragment="header">
    <h1>I am a partial</h1>
</div>
<!--HEADER-->

<!--FOOTER-->
<footer th:fragment="footer" class="text-center text-lg-start bg-light text-muted mb-0 mt-auto">
<!--    <section>-->
<!--        <div class="me-5 d-flex justify-content-center">-->
<!--            <span>Check out our ads by category:</span>-->
<!--        </div>-->
<!--    </section>-->
<!--    <section-->
<!--            class="d-flex justify-content-center  p-4 border-bottom">-->

<!--        &lt;!&ndash; Right &ndash;&gt;-->
<!--        <div class="d-flex justify-content-center">-->
<!--            <div class="m-0 mt-4">-->
<!--                <a class="fa-solid fa-burger fa-2xl mx-4" href="" ></a>-->
<!--                <p class="mt-3 mx-1">Restaurants</p>-->
<!--            </div>-->
<!--            <div class="m-0 mt-4">-->
<!--                <a class="fa-solid fa-landmark fa-2xl mx-4" href=""></a>-->
<!--                <p class="mt-3 mx-3">History</p>-->
<!--            </div>-->
<!--            <div class="m-0 mt-4">-->
<!--                <a class="fa-solid fa-person-hiking fa-2xl mx-4" href=""></a>-->
<!--                <p class="mt-3 mx-2">Outdoors</p>-->
<!--            </div>-->
<!--            <div class="m-0 mt-4">-->
<!--                <a class="fa-solid fa-people-line fa-2xl mx-4" href=""></a>-->
<!--                <p class="mt-3 mx-3">Family</p>-->
<!--            </div>-->
<!--            <div class="m-0 mt-4">-->
<!--                <a class="fa-solid fa-champagne-glasses fa-2xl mx-4" href=""></a>-->
<!--                <p class="mt-3 mx-4">Nightlife</p>-->
<!--            </div>-->
<!--            <div class="m-0 mt-4">-->
<!--                <a class="fa-solid fa-circle-exclamation fa-2xl mx-4" href=""></a>-->
<!--                <p class="mt-3 mx-4">Etc.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </section>-->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Lorem Ipsum
                    </h6>
                    <p>
                        “He who would learn to fly one day must first learn to walk and run and climb and dance; one cannot fly into flying.”
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <i class="fa-solid fa-code"></i>
                        <a href="https://java.codeup.com/" class="text-reset">Codeup</a>
                    </p>
                    <p>
                        <i class="fa-brands fa-bootstrap"></i>
                        <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="text-reset">Bootstrap</a>
                    </p>
                    <p>
                        <i class="fa-solid fa-leaf"></i>
                        <a href="https://docs.spring.io/spring-data/jpa/docs/current/reference/html/" class="text-reset">Spring JPA</a>
                    </p>
                    <p>
                        <i class="fa-brands fa-stack-overflow"></i>
                        <a href="https://stackoverflow.com/" class="text-reset">Stack Overflow</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Developed By:
                    </h6>
                    <i class="fa-brands fa-github me-3"></i>
                    <a class="text-reset" href="https://github.com/c-berry">Chris Berry</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Info</a>
    </div>
    <!-- Copyright -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="/js/main.js"></script>

</footer>
<!--FOOTER-->

<!--<script th:fragment="bootstrap-js" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->


</body>
</html>