<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<h1>Let's roll some dice! Guess a number between 1 - 6</h1>
<ul>
    <li><a href="/roll-dice/1">Guess 1</a></li>
    <li><a href="/roll-dice/2">Guess 2</a></li>
    <li><a href="/roll-dice/3">Guess 3</a></li>
    <li><a href="/roll-dice/4">Guess 4</a></li>
    <li><a href="/roll-dice/5">Guess 5</a></li>
    <li><a href="/roll-dice/6">Guess 6</a></li>
</ul>

<h3 th:if="${correct}">Correct!</h3>

<h3 th:if="${incorrect}">Wrong!!!</h3>

</body>
</html>